# Xcode
*.xcuserstate
*.xcuserdatad/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build products
build/
*.app
*.framework
*.dylib

# CocoaPods
Pods/
*.podspec

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.temp
